/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #D9D9D9
}
.navbar-default {
    background-color: #A62139;
    border-color: #A62139;
}
.navbar-default .navbar-brand {
    color: #0D0D0D
}